<!-- blog/templates/blog/post_detail.html -->
<h2>{{ post.title }}</h2>
<p>{{ post.content }}</p>

<h3>Comments</h3>
<!-- blog/templates/blog/post_detail.html -->
<h2>{{ post.title }}</h2>
<p>{{ post.content }}</p>
<p>Tags: 
    {% for tag in post.tags.all %}
        <a href="{% url 'tagged-posts' tag.name %}">{{ tag.name }}</a>
    {% empty %}
        No tags.
    {% endfor %}
</p>
<ul>
    {% for comment in comments %}
        <li>
            <strong>{{ comment.author.username }}</strong>: {{ comment.content }}
            <a href="{% url 'comment-edit' comment.id %}">Edit</a>
            <form method="post" action="{% url 'comment-delete' comment.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <h4>Add a Comment</h4>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Post Comment</button>
    </form>
{% else %}
    <p>You must be logged in to comment.</p>
{% endif %}